@import '../../../styles/colors';

.message-input {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

  .message-input-text {
    flex: 4;
    border: none;
    border: 1px solid $lightGrey;
    border-radius: 1em;
    padding: 1em;
    margin-right: 1em;
    font-size: 1.2em;
  }

  .message-input-send {
    flex: 1;
  }

.button {
  background: linear-gradient(270deg, $green, $yellowGreen);
  background-size: 400% 400%;
  border: none;
  border-radius: 1rem;
  padding: .6em 1.2em;
  font-size: 1.4em;
  font-weight: bold;
  color: $white;

  &:hover {
    -webkit-animation: MovingBackground 6s ease infinite;
    -moz-animation: MovingBackground 6s ease infinite;
    animation: MovingBackground 6s ease infinite;
    box-shadow: 1px 2px 2px $lightGrey;
    cursor: pointer;
  }
}

// From https://www.gradient-animator.com/

@-webkit-keyframes MovingBackground {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

@-moz-keyframes MovingBackground {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

@keyframes MovingBackground {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
