@import '../../../styles/colors';
@import '../../../styles/colorBackground';

.message-input {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

  .message-input-text {
    flex: 4;
    border: none;
    border: 1px solid $lightGrey;
    border-radius: 1em;
    padding: 1em;
    margin-right: 1em;
    font-size: 1.2em;
    outline: 0;
  }

  .message-input-send {
    flex: 1;
  }

.button {
  @extend .green-gradient-background;
  border: none;
  border-radius: 1rem;
  padding: .6em 1.2em;
  font-size: 1.4em;
  font-weight: bold;
  color: $white;
  outline: 0;

  &:hover {
    @extend .moving-background;
    box-shadow: 1px 2px 2px $lightGrey;
    cursor: pointer;
  }
}

