@import 'variables';

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Helvetica Neue", Helvetica, Aria, sans-serif;
  font-size: 14px;
}

.app {
  width: 100%;
  max-width: $breakpoint-large;
  margin: 0 auto;
  padding: 10vh 0;
}
