@import 'variables';
@import 'colors';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Helvetica Neue", Helvetica, Aria, sans-serif;
  font-size: 14px;
  background: $whiteGrey;
}

html, body {
  width: 100%;
  height: 100%;
}

  .app {
    width: 100%;
    height: 100%;
    max-width: $breakpoint-large;
    margin: 0 auto;
  }
