@import '../../../styles/colors';

.message {
  width: 80%;
  margin-bottom: 1em;
  margin-right: 20%;
}

.message.mod-right {
  margin-left: 20%;
  text-align: right;
}

  .message-tag {
    display: inline-block;
    border-radius: 1em;
    padding: .8em;
    text-align: left;

    background: $lightGrey;
  }

  .message-tag.mod-color {
    color: $white;

    // From https://uigradients.com/#Decent
    background: #00b09b; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, $green, $yellowGreen);
    background: linear-gradient(to bottom, $green, $yellowGreen);
  }
