@import '../../../styles/colors';
@import '../../../styles/colorBackground';

.message {
  width: 80%;
  margin-bottom: 1em;
  margin-right: 20%;
}

.message.mod-right {
  margin-left: 20%;
  text-align: right;
}

  .message-tag {
    display: inline-block;
    border-radius: 1em;
    padding: .8em;
    text-align: left;

    background: $lightGrey;
  }

  .message-tag.mod-color {
    @extend .green-gradient-background;
    color: $white;
  }

  .message-tag.mod-rainbow {
    @extend .rainbow-background;
    @extend .moving-background;
    color: $white;
  }
